@charset "utf-8";
/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chathura:wght@100;300;400;700;800&family=Cinzel:wght@400;500;600;700;800;900&family=Foldit:wght@100;200;300;400;500;600;700;800;900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mate+SC&family=Metrophobic&family=Mukta:wght@200;300;400;500;600;700;800&family=Reem+Kufi:wght@400;500;600;700&display=swap');

:root {
  /* Background Color */
  --bg-1: #161616;
  --bg-2: #585858;
  --bg-3: #ffffff;
  --bg-4: #006eff;
  --bg-5: #e7e7e7;

  /* Font Color */
  --color-1: #f0f0f0;
  --color-2: #2a2a2a;
  --color-3: #000;
  --color-4: #c3c3c3;
  --color-5: #ffd400;
  --color-6: #8b55e9;
  --color-7: #d5ceff;

  /* Font  */

  --font-1: "Chathura", sans-serif;
  --font-2: "Cinzel", serif;
  --font-3: "Foldit", cursive;
  --font-4: 'Kanit', sans-serif;
  --font-5: 'Bebas Neue', sans-serif;
  --font-6: 'Mate SC', serif;
  --font-7: 'Reem Kufi', sans-serif;
  --font-8: 'Metrophobic', sans-serif;
}

/* CSS Document */
html,
form {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  /* background-image: url("../../assets/images/bg-9.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  image-rendering: optimizeQuality; */
  background-color: var(--bg-1);
  width: 100%;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.291); */
  /* Ajusta el nivel de oscurecimiento aquí */
  z-index: -1;
}

a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

a,
a img {
  text-decoration: none;
  outline: none;
  border: none;
}

.clr {
  clear: both;
  height: 0;
}

::-webkit-input-placeholder {
  color: #979a9b;
}

:-moz-placeholder {
  color: #979a9b;
}

::-moz-placeholder {
  color: #979a9b;
}

:-ms-input-placeholder {
  color: #979a9b;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--color-3);
  color: var(--color-1);
}

::selection {
  background-color: var(--color-3);
  color: var(--color-1);
}

body,
input,
textarea,
select,
option {
  font-family: "Mukta", sans-serif;
  font-size: 100%;
}

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

h1, h2, h3 {
  color: var(--color-4);

}

p {
  font-size: .9rem;
  font-family: var(--font-4);
  color: var(--color-4);
}

h1 {
  color: var(--color-1);
  text-align: center;
  font-family: var(--font-2);
  width: 100%;
  padding: 3rem 0;
  font-size: 2.5rem;
}

h2 {
  font-family: var(--font-2);
  font-size: 1rem;
  padding: .5rem 1rem;
}

h3 {
  color: var(--color-1);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

h4 {
  text-align: center;
  text-transform: capitalize;
  font-family: var(--font-5);
  color: var(--color-1);
  font-size: 3rem;
}

h5 {
  font-family: var(--font-4);
  color: var(--color-1);
  font-size: 1rem;
  border-bottom: var(--color-5) 1px solid;
  text-transform: uppercase;
}


button {
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  text-transform: capitalize;
  font-family: var(--font-1);
  font-weight: 500;
}

.btn .btn-primary {
  background: #396afc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #2948ff,
      #396afc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #2948ff,
      #396afc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: var(--color-6);

  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}



/* CSS */
.button-47 {
  align-items: center;
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--color-7);
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--color-7);
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  border: 2px solid transparent;
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}



table {
  width: 100%;
  text-align: center;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.255);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

table caption {
  color: var(--color-4);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 1rem;
  font-size: 1rem;
}

table td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.169);
  color: var(--color-1);
  min-width: 100%;
  padding: 1rem 0;
}

table tr:hover {
  background-color: rgba(18, 18, 18, 0.066);
  border: none;
}

table td a {
  color: var(--color-5);
  font-weight: 600;
}

table td a:hover {
  color: var(--color-2);
  font-weight: 600;
}


/* Form */

form {
  width: 100%;
  margin: 0 auto;
  padding: 0 10rem;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: var(--color-4);
  font-family: var(--font-8);
  font-weight: 400;
  letter-spacing: 2px;
  font-size: .8rem;
  padding: 1rem;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea {
  width: 100%;
  padding: .6rem;
  margin-bottom: 10px;
  border: 2px solid var(--bg-2);
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  font-size: .8rem;
  color: var(--color-4);
  background-color: #00000052;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form textarea:focus {
  color: var(--color-4);
  background-color: #e0e0e02d;
  border: 2px solid var(--color-6);

}

form button[type="submit"] {
  background-color: transparent;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 1rem;
  font-family: var(--font-8);
  padding: .6rem 0;
}

form button[type="submit"]:hover {
  background-color: transparent;
}

form .error {
  color: red;
  margin-top: 5px;
}

@media screen and (min-width: 960px) and (max-width: 3840px) {
  header {
    display: flex;
    flex-flow: column;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }

  .sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }

  .nav-primary {
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    min-height: 3rem;
    padding: 8rem 0 1rem 0;
  }

  .nav-primary .nav-p {
    display: flex;
  }

  .nav-primary .nav-p ul {
    display: flex;
    flex-flow: row;
    padding: 0 0 .5rem 0;

  }

  .nav-secondary {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 5rem;
  }

  .auth {
    display: flex;
    min-height: 4rem;
    align-items: center;
    width: 400px;
  }

  .nav-secondary .auth ul {
    display: flex;
    flex-flow: row;
  }

  .nav-data {
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }

  .nav-data p {
    font-size: 0.7rem;
    color: var(--color-2);
    font-family: var(--font-2);
    font-weight: 600;
  }

  .nav-horizontal {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .nav-horizontal nav ul {
    display: flex;
    flex-flow: row;
  }

  .nav-primary .logo {
    width: auto;
    z-index: 99999;
  }

  .logo img {
    display: block;
    width: 240px;
    padding-top: 4rem;
  }

  .app {
    display: flex;
    flex-flow: row wrap;
    width: 1450px;
    max-width: 1450px;
    height: auto;
    justify-content: center;
  }

  .sidebar {
    max-width: 25rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .content {
    width: 70%;
  }
}

@media screen and (max-width: 1280px) {
  .app {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 960px;
    max-width: 960px;
    height: auto;
  }

  .sidebar {
    max-width: 30%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .content {
    width: 60%;
  }
}

@media screen and (min-width: 320px) and (max-width: 960px) {
  header {
    position: static;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column-reverse;
    min-height: 6rem;
    margin: 0 0 1rem 0;
    width: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(120, 120, 120, 0.383);
  }

  .nav-primary {
    display: flex;
    flex-flow: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    min-height: 3rem;
  }

  .nav-primary .nav-p {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .nav-primary .nav-p ul {
    display: flex;
    flex-flow: column;
    text-align: end;
  }

  .social {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 400px;
  }

  .nav-social {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
  }

  .nav-social ul {
    display: flex;
    flex-flow: column;
    justify-content: end;
    text-align: end;
  }

  .nav-social ul li {}

  .nav-social ul li a {
    padding: 0 0.6rem;
  }

  .nav-secondary {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  .nav-secondary .auth {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .nav-secondary .auth ul {
    display: flex;
    flex-flow: row;
  }

  .nav-horizontal {
    display: flex;
    flex-flow: column;
    width: 100%;
    text-align: center;
  }

  .nav-horizontal nav {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  .nav-horizontal nav ul {
    display: flex;
    flex-flow: row wrap;
  }

  .nav-primary .logo {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .nav-primary .logo img {
    width: 40%;
    
  }

  .app {
    display: flex;
    flex-flow: column;
    width: 768px;
    max-width: 768px;
    height: auto;
    justify-content: center;
  }

  .content {
    width: 100%;
  }

  .sidebar {
    max-width: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.255);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 100%;
  }

  .slider {
    display: none;
  }
}

/* @media screen and (max-width: 768px) {}
 */
/* @media screen and (max-width: 480px) {}

@media screen and (max-width: 384px) {}

@media screen and (max-width: 320px) {}
 */
/*  Home Header

    * - Header
    * - .nav-p-primary > social > .nav-p-social > ul > li > a
    * - logo > img
    * - .nav-p > ul > li > a
    
*/



header {
  text-transform: uppercase;
  color: var(--color-1);
  width: 100%;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.383);
}

.nav-primary {
  display: flex;
  width: 100%;
  background-color: transparent;
}

.nav-secondary {
  color: var(--color-6);
  /*border-bottom: var(--color-6) .1rem solid;
  */
}

.nav-secondary a {
  color: var(--color-6);
  font-size: 0.7rem;
  font-weight: 900;
  margin: 0 0.5rem;
  letter-spacing: 0.2rem;
}

.nav-secondary a:hover {
  color: var(--color-1);
}

.social {}

.nav-social {
  font-size: 0.8rem;
  font-size: 0.4rem;
}

.nav-social ul {
  display: flex;
  flex-flow: row;
}

.nav-social ul li {
  margin: 0 1rem;
}

.nav-social ul li a {
  color: var(--color-5);
}

.nav-primary .nav-p {
  display: inherit;
}

.nav-primary .nav-p ul {
  justify-content: center;
}

.nav-primary .nav-p ul li a {
  color: var(--color-1);
  width: 100%;
  font-size: 1.1rem;
  font-weight: 400;
  border-bottom: 1px solid transparent;
  padding: 0 1rem;
  font-family: var(--font-8);
}

.nav-primary .nav-p ul li a:hover {
  color: var(--color-6);
}

.nav-primary .nav-p ul li a.active {
  color: var(--color-6);
  font-weight: 400;
}

.nav-primary .logo {
  display: flex;
  z-index: 999;
}

.nav-horizontal li {
  padding: 1.7rem;
}

.nav-horizontal a {
  color: var(--color-2);
  font-family: var(--font-1);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.4rem;
  border-radius: 0.5em;
  background-color: #e2e2e2;
  padding: 0.2rem 1rem;
  border: 1px solid #e7e7e7;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  box-shadow: 6px 6px 12px #e0e0e0, -6px -6px 12px #fff;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}

.nav-horizontal a:hover {
  box-shadow: -6px -6px 12px #e0e0e0, 6px 6px 12px #fff;
  color: var(--color-6);
}

/* End Header */

.app {
  margin: 0 auto;
  padding: 5rem 0;
}

.content {
  border-radius: 5px;
  height: auto;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

footer {
  margin: 5rem 0 0 0;
  width: 100%;
  left: 0;
  bottom: 0;
  min-height: 15rem;
  background-color: var(--bg-1);
}

.slider {
  position: relative;
  width: 100%;
  height: 750px;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  width: 100%;
  background-image: url("../../assets/images/bg-14.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  image-rendering: optimizeQuality;
  margin: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2.6rem 0;

}

.slide .slide-title {
  display: flex;
  flex-flow: column;
  text-align: center;
}

.slide-title h2 {
  font-family: var(--font-2);
  color: white;
  text-shadow: 0 0 5px white, 0 0 10px #ffffff, 0 0 20px #ffffff,
    0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 75px white;
  font-size: 1.5em;
  text-transform: capitalize;
}

.slide-title h3 {
  font-family: "Cinzel", serif;
  color: var(--color-1);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.194), 0 0 10px #ffffff4d, 0 0 20px #ffffff4d,
    0 0 30px #ffffff4d, 0 0 40px #ffffff4d, 0 0 50px #ffffff4d, 0 0 75px white;
  font-size: 3em;
  text-transform: capitalize;
}

@keyframes slideAnimation {

  0%,
  33.3% {
    opacity: 1;
  }

  66.6%,
  100% {
    opacity: 0;
  }
}

/* EXTRA */

/* Content */

.cards {
  display: flex;
  flex-flow: row wrap;
}

.card {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 0.5rem;

}

.card .card-top {
  display: flex;
  flex-flow: column;
  width: 100%;
  min-height: 3rem;
  padding: 1rem 0;
}

.card-top::after {
  display: block;
  content: "";
  width: 80%;
  /* border-bottom: 1px solid var(--bg-3); */
  margin: 0 auto;
  padding: 1rem;
}

/* .card-top h2 {
  color: var(--color-1);
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
} */


.card-top h2 a {
  color: var(--color-4);
}

.card-top h2 a:hover {
  color: var(--color-1);
}

.card-top h3 {
  color: var(--color-1);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}



.card-top a {
  color: var(--color-7);
}

.card-top a:hover {
  color: var(--color-1);
}

.card-bottom {
  margin: 0 0 1rem 0;
}

.card-bottom p {
  text-align: center;
  font-size: .8rem;
  font-family: var(--font-8);
  color: var(--bg-3);
}

.card-img {
  width: 100%;
  /* Ancho fijo del contenedor */
  height: 350px;
  /* Alto fijo del contenedor */
  overflow: hidden;
  /* Oculta cualquier contenido que exceda los límites del contenedor */

}

.card-img-full-h {
  width: 100%;
  /* Ancho fijo del contenedor */
  height: 800px;
  /* Alto fijo del contenedor */
  overflow: hidden;
  /* Oculta cualquier contenido que exceda los límites del contenedor */
}

.card-img-full-h img {
  width: 100%;
  /* Ancho de la imagen al 100% del contenedor */
  height: 100%;
  /* Altura de la imagen al 100% del contenedor */
  object-fit: cover;
  /* Ajusta la imagen para cubrir todo el contenedor */
  object-position: center;
  /* Centra la imagen dentro del contenedor */

}





.card-img img {
  width: 100%;
  /* Ancho de la imagen al 100% del contenedor */
  height: 100%;
  /* Altura de la imagen al 100% del contenedor */
  object-fit: cover;
  /* Ajusta la imagen para cubrir todo el contenedor */
  object-position: center;
  /* Centra la imagen dentro del contenedor */
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card-date {
  font-size: 0.9rem;
  color: var(--color-3);
  background-color: var(--bg-5);
  padding: 0 1rem;
  max-width: 100px;
  text-align: center;
  font-weight: bold;
}

.card-date p {
  color: var(--color-3);
}

.card-detail {
  display: flex;
  flex-flow: column;
  color: var(--color-1);
  text-align: justify;
  width: 100%;
}

.card-detail .card-text {
  padding: 1rem;
}

.card-text p {
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-detail .card-btn {
  display: flex;
  flex-flow: row-reverse;
}

.card-detail .card-btn-center {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.btn {
  text-align: center;
  padding: 0.2rem;
  width: 100%;
  max-width: 150px;
  color: var(--color-1);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn-primary {
  border: 1px solid var(--bg-4);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.btn-primary:hover {
  border: 1px solid var(--bg-4);
  background-color: var(--bg-1);
  opacity: 50%;
}

.btn-secondary {
  border: 2px solid var(--color-5);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  color: var(--color-5);
}

.btn-secondary:hover {
  border: 2px solid var(--bg-5);
  color: var(--color-1);
  opacity: 90%;
}

/*  */

.mt-20 {
  margin-top: 20rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.m-1 {
  margin: 1rem 0;
}

.m-2 {
  margin: 2rem 0;
}

.m-5 {
  margin: 5rem 0;
}

.w-10 {
  width: 100%;
}

.w-7 {
  width: 70%;
}

.w-6 {
  width: 60%;
}

.w-5 {
  width: 50%;
}

.w-4 {
  width: 40%;
}

.w-3 {
  width: 30%;
}

.w-2 {
  width: 20%;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.p-5 {
  padding: 5rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pr-5 {
  padding-right: 5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-5 {
  margin-right: 5rem;
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch
}

.flex-column {
  display: flex;
  flex-flow: column;
}

.t-a-center {
  text-align: center;
}

.t-a-right {
  text-align: right;
}

.t-a-left {
  text-align: left;
}

.blur-1 {
  backdrop-filter: blur(1px);
}

.blur-2 {
  backdrop-filter: blur(2px);
}

.blur-3 {
  backdrop-filter: blur(3px);
}

.blur-4 {
  backdrop-filter: blur(4px);
}

.blur-8 {
  backdrop-filter: blur(8px);
}

.blur-9 {
  backdrop-filter: blur(9px);
}

.blur-10 {
  backdrop-filter: blur(10px);
}

.bg-color-1 {
  background-color: rgba(0, 0, 0, 0.707);
}

.bg-color-2 {
  background-color: rgba(23, 23, 23, 0.561);
}

.bg-color-3 {
  background-color: rgba(126, 126, 126, 0.425);
}

.bg-color-4 {
  background-color: rgba(238, 255, 52, 0.536);
}

.bg-color-5 {
  background-color: rgba(0, 200, 255, 0.536);
}

.bgg-color-1 {

  background: #4776e666;
  background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
  background: linear-gradient(to right, #8e54e98c, #4776e6d9);
}

.bgg-color-2{
  background: #EB3349;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-color-white {
  background-color: rgba(255, 255, 255, 0.878);
}

.bg-color-black {
  background-color: rgba(0, 0, 0, 0.878);
}

.color-1 {
  color: #000;
}

.color-2 {
  color: #242424;
}

.color-3 {
  color: #f1f1f1;
}

.color-4 {
  color: #ffd400;
}

.color-5 {
  color: #00b3ff;
}

.color-6 {
  color: #d5ceff;
}

.br-1 {
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}

.br-2 {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.br-3 {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.br-4 {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.br-5 {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.br-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.br-100 {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.border-l-1 {
  border-left: var(--color-5) 1px solid;

}

.border-l-2 {
  border-left: var(--color-5) 2px solid;

}

.border-l-3 {
  border-left: var(--color-5) 3px solid;

}

.border-l-4 {
  border-left: var(--color-5) 4px solid;

}

.border-l-5 {
  border-left: var(--color-5) 5px solid;

}

.border-b-1 {
  border-bottom: var(--color-5) 1px solid;

}

.border-b-2 {
  border-bottom: var(--color-5) 2px solid;

}

.border-b-3 {
  border-bottom: var(--color-5) 3px solid;

}

.border-b-4 {
  border-bottom: var(--color-5) 4px solid;

}

.border-b-5 {
  border-bottom: var(--color-5) 5px solid;

}


.shadow-1 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.shadow-2 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.shadow-3 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.shadow-4 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.shadow-5 {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.shadow-6 {}


/* Profile */

.profile {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.profile .profile-top {
  display: flex;
  flex-flow: column;
  width: 100%;
  background-image: url("../../assets/images/profile/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  image-rendering: optimizeQuality;
  width: 100%;
  margin: 0;


}

.profile-top .profile-img {
  display: block;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 180px;
  -webkit-border-radius: 180px;
  -moz-border-radius: 180px;
  -ms-border-radius: 180px;
  -o-border-radius: 180px;
  position: relative;
  margin: 5rem auto;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  z-index: 9999;
}

.profile-top .profile-img img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

.profile-top .profile-player {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 100%;
  height: auto;
  color: var(--color-1);
  padding: 1rem;
  margin-top: -2rem;
}

.profile-player .profile-data {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.profile-data h2 {
  text-align: center;
  font-family: var(--font-2);
  border-bottom: 1px solid var(--color-5);
  margin: 1rem 0 0 0;
  padding: 0 0 .5rem 0;
}

.profile-data h3 {
  text-align: center;
  font-size: .9rem;
  font-family: var(--font-1);
  color: var(--color-4);
}

.profile .profile-bottom {
  display: flex;
  flex-flow: column;
}

.profile-bottom .profile-nav {
  background-color: var(--bg-2);
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.profile-nav ul {
  display: flex;
  flex-flow: row;
  justify-content: start;
  align-items: center;
  height: auto;
  padding: 1.5rem 0;
}

.profile-nav ul li a {
  padding: 0 2rem;
  color: var(--color-4);
}

.profile-nav ul li a:hover {
  color: var(--color-6);
}

.display-none {
  display: none;

}

.trs-3s {
  transition: .5s ease;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
}





.boxs {
  display: flex;
  width: 100%;
}

.boxs:nth-child(1)>* {
  flex-basis: 100%;
}

.boxs:nth-child(2)>* {
  flex-basis: 50%;
}

.boxs:nth-child(3)>* {
  flex-basis: 33.33%;
}

.boxs:nth-child(4)>* {
  flex-basis: 25%;
}

.boxs:nth-child(5)>* {
  flex-basis: 20%;
}

.box {
  width: 100%;
  min-height: 25rem;
  padding: 2rem;
  margin: 1rem;
}


